.contenedor{
    margin-top: 40px;
    padding-left: 5%;
}

div.tarjeta {
    margin: 40px;
    border: 1px solid #ccc;
    float: left;
    width: 40%;
    height: 550px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px;
    background-color: #6bb8da;
}

.contenido {
    border-radius: 30px;
    margin: 10px;
    padding-left: 30px;
    background-color: rgb(243, 241, 241);
    width: 92.5%;
    height: 92.5%;
}


.titulo{
    padding-top: 10px;
    text-align:center;
}

input{
    border-radius: 5px;
    padding-bottom: 5px;
}

div.tarjeta:hover {
    border: 1px solid #777;
}

div.tarjeta1 {
    margin: 40px;
    border: 1px solid #ccc;
    float: left;
    width: 40%;
    height: 900px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px;
    background-color: #6bb8da;
}

.button{
    padding:10px 30px; 
    border:solid 6px #004F72; 
    border-radius: 41px; 
    font:23px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#3BA4C7; 
    box-shadow:0px 0px 20px #bababa, inset 0px 0px 1px #ffffff;    
}
